salt.state.ldap cannot set OpenLDAP ACL

### Description of Issue/Question

OpenLDAP docs says 
> Ordering is very important here. As soon as a subject match occurs, the mask will be determined and resolution will stop.
And it is the only place where we need strict entries ordering, which cannot be provided by Salt state module.

### Setup
1. Install bare OpenLDAP

### Steps to Reproduce Issue
1/ Try to configure ACL, eg:
```
ldapi:///:
  ldap.managed:
    - connect_spec:
        bind:
          method: sasl
          mechanism: EXTERNAL
    - entries:
        - replace:
            olcAccess:
              - '{0}to * by group/groupOfUniqueNames/uniqueMember="cn=Admins,ou=Groups,dc=example,dc=com" manage by * break'
              - '{1}to attrs=userPassword,shadowLastChange by self write by anonymous auth by * none'
              - '{2}to dn.base="" by * read'
              - '{3}to * by * read'
```

2/ Observe your ACLs sorted in a random way when casting list to set. Also, state declares changes on every run, as the order is never preserved.
```
ldap.example.com:
----------
          ID: slapd.installed
    Function: pkg.installed
      Result: True
     Comment: All specified packages are already installed
     Started: 10:10:36.217791
    Duration: 293.774 ms
     Changes:   
----------
          ID: ldapi:///
    Function: ldap.managed
      Result: True
     Comment: Successfully updated LDAP entries
     Started: 10:10:36.513139
    Duration: 5.19 ms
     Changes:   
              ----------
              olcDatabase={1}mdb,cn=config:
                  ----------
                  new:
                      ----------
                      olcAccess:
                          - {0}to * by group/groupOfUniqueNames/uniqueMember="cn=Admins,ou=Groups,dc=example,dc=com" manage by * break
                          - {1}to attrs=userPassword,shadowLastChange by self write by anonymous auth by * none
                          - {2}to dn.base="" by * read
                          - {3}to * by * read
                  old:
                      ----------
                      olcAccess:
                          - {0}to * by group/groupOfUniqueNames/uniqueMember="cn=Admins,ou=Groups,dc=example,dc=com" manage by * break
                          - {1}to attrs=userPassword,shadowLastChange by self write by anonymous auth by * none
                          - {2}to * by * read
                          - {3}to dn.base="" by * read

Summary for ldap.example.com
------------
```
Proper LDIF for this invocations should look like:
```
version: 1

dn: olcDatabase={1}mdb,cn=config
changetype: modify
replace: olcAccess
olcAccess: {0}to * by group/groupOfUniqueNames/uniqueMember="cn=Admins,ou=Groups,dc=example,dc=com" manage by * break
olcAccess: {1}to attrs=userPassword,shadowLastChange by self write by anonymous auth by * none
olcAccess: {2}to dn.base="" by * read
olcAccess: {3}to * by * read
```
### Versions Report
2016.3.0 (Boron)

I've seen this too... Interestingly enough it was always changing  it to the same (wrong) order.

@jkramarz looks like we need to ensure this ordering is always in the same order in this module.

The `ldap` state module's behavior is consistent with the LDAP standard.  [RFC4511 section 4.1.7](https://tools.ietf.org/html/rfc4511#section-4.1.7) says:

> The set of attribute values is unordered.  Implementations MUST NOT rely upon the ordering being repeatable.

However, OpenLDAP is using a non-standard X-ORDERED schema extension to add ordering.  That extension appears to behave as described in the abandoned [draft-chu-ldap-xordered-00](https://tools.ietf.org/html/draft-chu-ldap-xordered-00) Internet-Draft.  That draft is not clearly written, but the intention seems to be that the `AttributeValue`s in a `PartialAttribute` are supposed to be processed in the order in which they appear in the ASN.1, and the attribute's values are re-numbered after each `AttributeValue` is processed (which conflicts with RFC4511 section 4.1.7).

When I wrote the `ldap` state module I assumed that OpenLDAP applied the entire set of `AttributeValue`s before re-numbering, which would be consistent with RFC4511 section 4.1.7.  The results of my limited testing didn't reveal any problems, so the assumption was baked in.  It looks like my assumption was wrong.

The `ldap` state module converts the given list of attribute values to a set before handing them off to the `ldap3` execution module.  (See the `_toset()` function and the conversion of the attributes returned by `ldap3.search()` inside `_process_entries()`.)  This conversion results in the attribute values being in a different order in the resulting ASN.1.  If OpenLDAP does behave as described above, this would explain the reported behavior.

Perhaps the cleanest way to fix this is to use ordered sets instead of sets when holding a collection of attribute values.  Unfortunately, Python doesn't come with an ordered set class, so we would have to create one or copy an existing third party implementation.  Alternatives:
  * switch to lists, which involves replacing the set operations with equivalent list code
  * use the keys from an `OrderedDict` as a poor-man's equivalent of an ordered set, and replace the set operations with equivalent dict operations

To work around this, manually create the attribute values.  Future Salt runs will see that the attribute already has the desired values so it will do nothing.

@rhansen Suggested workaround doesn't work :( I just tried with pre-numbered list and without pre-numberation, both solutions get changed over and over again, and order in slapd is random when it should not. The 'easy' solution would be to preserve indexing of a list from state. Also since openldap adds numbering {X} in front, it would be cool if ldap module would skip that from value comparison, eg:
ATTR:
  - 'some_val1'
  - 'some_ val2'
  - 'some_val3'

in openldap end will turn into:
ATTR: {0}some_val1
ATTR: {1}some_val2
ATTR: {2}some_val3

ldap module should see those as same values (as they are).



> I just tried with pre-numbered list and without pre-numberation, both solutions get changed over and over again

Can you elaborate?

Let me explain what I mean in a bit more detail.  Suppose you want the following values for DN `dn` and attrribute `attr`:

  * `{0}foo`
  * `{1}bar`
  * `{2}baz`

To work around this bug you would first manually configure the `attr` attribute with those values, then configure Salt like so:

```
ldapi:///:
  ldap.managed:
    - entries:
      - dn:
        - replace:
            attr:
              - '{0}foo'
              - '{1}bar'
              - '{2}baz'
```

Because the values in LDAP match the desired values, Salt will do nothing and won't raise an error.

Of course this is mostly pointless because if the values in LDAP differ from the desired values then Salt will fail.  But at least you'll know that they don't match, and you'll have a file that you can check in to your version control system that documents the desired values.

> Also since openldap adds numbering {X} in front, it would be cool if ldap module would skip that from value comparison

That would be cool, but it would take a lot of work to query the schema, parse the attribute type descriptions, cache the results, and query the cache for each attribute to determine whether the attribute type has X-ORDERED values.  That shouldn't stop you from submitting a new feature request, however.  :smiley:

That isn't exactly true... I mean your module will not change if order happens to be not mixed out on slapd... To reproduce:
```ldapi:///:
  ldap.managed:
    - entries:
      - dn:
        - replace:
            attr:
              - '{0}foo'
              - '{1}bar'
              - '{2}baz'```

Run salt call few times, if it doesn't change the order over and over again try changing order in your state, eg:
```ldapi:///:
  ldap.managed:
    - entries:
      - dn:
        - replace:
            attr:
              - '{0}bar'
              - '{1}baz'
              - '{2}foo'```

And try running salt-call few times...

If you still don't see the issue, let me know, I will provide my real ACLs which are affected by this issue.

@rhansen Making a follow up here from ticket https://github.com/saltstack/salt/issues/33786

You said you tried this and it works:
```
ldapi:///:
  ldap.managed:
    - require:
      - service: slapd
    - connect_spec:
        bind:
          method: sasl
    - entries:
      - 'olcDatabase={1}hdb,cn=config':
        - replace:
            olcAccess:
              - >-
                  {0}to *
                  by dn.exact=gidNumber=0+uidNumber=0,cn=peercred,cn=external,cn=auth manage
                  by dn="cn=admin,cn=config" write
                  by dn="cn=admin,{{pillar.ldap.base}}" write
                  by * none break
              - >-
                  {1}to attrs=userPassword
                  by self write
                  by anonymous auth
                  by * none
              - >-
                  {2}to attrs=shadowLastChange
                  by self write
                  by * none break
              - >-
                  {3}to dn.base="" by * read
              - >-
                  {4}to *
                  by self read
                  by dn.one="{{pillar.ldap.machine_base}}" read
```

I proposed following:

> As for your above example, what happens if you change order in your state for example like that:
```
olcAccess:
              - >-
                  {0}to *
                  by dn.exact=gidNumber=0+uidNumber=0,cn=peercred,cn=external,cn=auth manage
                  by dn="cn=admin,cn=config" write
                  by dn="cn=admin,{{pillar.ldap.base}}" write
                  by * none break
               - >-
                  {1}to *
                  by self read
                  by dn.one="{{pillar.ldap.machine_base}}" read
              - >-
                  {2}to attrs=shadowLastChange
                  by self write
                  by * none break
              - >-
                  {3}to attrs=userPassword
                  by self write
                  by anonymous auth
                  by * none
              - >-
                  {4}to dn.base="" by * read
```
> Do you get this changed on first run and then it stays good or does it change over and over again?
> Also, once this executes, can you verify in config file (if you use mdb database)
```
/etc/ldap/slapd.d/cn\=config/olcDatabase\=\{1\}mdb.ldif
```
> that you get the right order of things?

If the values in your LDAP database don't match the values in your Salt config, you will experience this bug.  The `ldap` state module will keep trying over and over to fix the attribute values, but it will always scramble the order (unless you're lucky).

HOWEVER, if the values in your LDAP database ALREADY match the values in your Salt config, the ldap state module will leave everything alone and won't print any errors.

So, if you manually (NOT VIA SALT!) set the attribute's values, then when you run Salt it will leave everything alone.  This is the workaround.  (It's not much of a workaround, but it's something.)

I just tested, and you're right. If inserted manually in right order it doesn't get changed. So as I understand it's following:
- For value comparison order is kept
- For insertion order gets out of... order :)
Would be super cool to get fix for that so one less work around would be needed for happy ldap module / state :)

> Would be super cool to get fix for that so one less work around would be needed for happy ldap module / state :)

Agreed.  Finding a good implementation of an ordered set with a compatible license (or writing our own) would get us 90% of the way there.

I pushed an untested fix to [my fix-openldap-x-ordered branch](https://github.com/rhansen/salt/tree/fix-openldap-x-ordered).  I believe the following is an easy-ish way to test it:

  1. copy [`salt/utils/oset.py`](https://github.com/rhansen/salt/blob/fix-openldap-x-ordered/salt/utils/oset.py) to your `_states` directory
  2. copy [`salt/states/ldap.py`](https://github.com/rhansen/salt/blob/fix-openldap-x-ordered/salt/states/ldap.py) to your `_states` directory
  3. rename the copied `ldap.py` file to `xldap.py` to prevent it from conflicting with the built-in `ldap` module
  4. edit `xldap.py` and change the `from salt.utils.oset import OrderedSet` line to `from oset import OrderedSet`
  5. change all instances of `ldap.managed` in your `.sls` files to `xldap.managed`
  6. run `state.highstate`

Please give it a try and let me know how it works.

I tried it out and it's not working.  I'll have to investigate why.

OK, I think it's working now.  Please test it and let me know if it fixes the problem.

@rhansen  Sorry for delay, can you let me know how exactly do I test this? Do I need to build my salt-stack or... (I use deb packages ;) )

@jaceq:  I'm guessing it's failing to import for some reason.  See if this works:
```sh
cd /usr/lib/python2.7/dist-packages
python -c 'import salt.states.xldap'
```

Also, try distributing `xldap.py` via the `_states` directory (see ["Using Custom State Modules"](https://docs.saltstack.com/en/latest/ref/states/writing.html#using-custom-state-modules)).

@rhansen I made it work, I tested and it works as it should (so keep the order).

Lets push it for next release! :D

Hello,

Is there any reason why this didn't get into last release?

I have a feeling this ordering issue is the root cause for me not being able to managed my servers modules with this:
```
openldap_load_modules:
  ldap.managed:
    - name: ldapi:///
    - connect_spec:
        bind:
          method: sasl
    - entries:
      - 'cn=module{1},cn=config':
        - delete_others: False
        - add:
            cn: "module{1}"
            objectClass: olcModuleList
            olcModulePath: /usr/lib/ldap
            olcModuleLoad:
              - back_hdb
              - pw-sha2
              - accesslog
              - memberof
              - ppolicy
```

works the first time but not after. Will try the proposed fix.

Seems like prefixing `olcModuleLoad` entries by order-prefixed values made it work with current `ldap.managed` with 2016.11, sorry for the noise.